
<app-not-found [visible]="!cart || cart.items.length <= 0"
 notFoundMessage="item not found" resetLinkText="Go to home page"></app-not-found>
<div *ngIf="cart && cart.items.length > 0" class="container-fluid">
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let cartItem of cart.items">
                    <div class="row cart-list-item">
                        <div class="col-2">
                            <img class="cart-img " [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
                        </div>
                        <div class="col-4">
                            <a routerLink="/food/{{cartItem.food.id}}">
                                {{cartItem.food.name}}
                            </a>
                        </div>
                        <div class="col-2">
                            <select class="form-select form-select-sm" #quantitySelect (change)="changeQuantity(cartItem, quantitySelect.value)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-2">
                            {{cartItem.price | currency}}
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger btn-sm remove-button" (click)="removeFromCart(cartItem)">Remove</button>
                        </div>
                    </div>
                </li>
              </ul>
        </div>
        <div class="col-4">
            <div class="card checkout">
                <div class="card-body">
                    <div class="food-count">
                        Total Products:  {{cart.items.length}}
                     </div>
                     <div class="total-price">
                         Total Price: {{cart.totalPrice | currency}}
                     </div>
                     <a class="btn btn-primary" routerLink="/checkout">Proceed to Checkout</a>
                </div>
                
            </div>
        </div>
    </div>
</div>


